@model TrabalhoFinal.Models.Agenda

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Agenda</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="IdAgenda" />
        <dt>
            @Html.DisplayNameFor(model => model.DataAgenda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataAgenda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HorarioEntrada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HorarioEntrada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HorarioSaida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HorarioSaida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Medico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medico.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
