@model TrabalhoFinal.Models.Agenda

@{
    ViewData["Title"] = "Details";
}

<h1 class="display-4">Detalhes da Agenda</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataAgenda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataAgenda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HorarioEntrada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HorarioEntrada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HorarioSaida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HorarioSaida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Medico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medico.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.IdAgenda">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
