@model TrabalhoFinal.Models.Agenda

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agenda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataAgenda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataAgenda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HorarioEntrada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HorarioEntrada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HorarioSaida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HorarioSaida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Medico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medico.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdAgenda">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
