@model IEnumerable<TrabalhoFinal.Models.Agenda>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAgenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioSaida)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAgenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioSaida)
            </td>            
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAgenda">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAgenda">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAgenda">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
