@model IEnumerable<TrabalhoFinal.Models.Agenda>

@{
    ViewData["Title"] = "Index";
}
<h1 class="display-4">Agenda</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Nova Agenda</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAgenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioSaida)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAgenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioSaida)
            </td>            
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.IdAgenda">Editar</a>
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdAgenda">Deletar</a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdAgenda"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Excluir</a> 
            </td>
        </tr>
}
    </tbody>
</table>
