@model IEnumerable<TrabalhoFinal.Models.Consulta>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Consultas</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Nova Consulta</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempoConsulta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempoConsulta) min
            </td>            
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.IdConsulta">Editar</a>
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdConsulta">Detalhes</a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdConsulta"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Excluir</a> 
            </td>
        </tr>
}
    </tbody>
</table>
